Source: ros-jazzy-qrb-camera
Section: misc
Priority: optional
Maintainer: Zhanye Lin <zhanlin@qti.qualcomm.com>
Build-Depends: debhelper-compat(=13), ros-jazzy-ament-cmake-auto, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, libqmmf1, qcom-camera-server, qcom-syslog-plumber-dev, libqmmf-dev
Homepage: https://github.com/qualcomm-qrb-ros/qrb_ros_camera
Standards-Version: 3.9.2

Package: ros-jazzy-qrb-camera
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqmmf1, qcom-camera-server
Description: Qualcomm Robotics Camera Interface
